// Nextflow Configuration
profiles {	
    Standard {	
       process {
            withName: 'Trim_Reads_SE' {		
            cpus = 8	
            memory = 8.GB	
        }	
            withName: 'Trim_Reads_PE' {		
            cpus = 8	
            memory = 8.GB	
        }	
           withName: 'Mapping' {		
            cpus = 8	
            memory = 8.GB	
        }
           withName: 'Sort_Bam' {		
            cpus = 8	
            memory = 8.GB	
        }	        
           withName: 'Generate_Consensus' {		
            cpus = 8	
            memory = 8.GB	
        }	        	
    }
    testing {	
        process {	
            cpus = 8	
            memory = 8.GB
            queueSize = 2	
        }	
    }
}   
// Docker always true. Containers defined in each process
docker.enabled = true
