// Nextflow Configuration
profiles {	
    standard {	
       
    }
    env {
     _JAVA_OPTIONS = '-Xmx2G -Xms2G'
     TRIMMOMATIC_PATH = "/Users/kurtiscruz/opt/anaconda3/pkgs/trimmomatic-0.39-0/share/trimmomatic-0.39-0/trimmomatic.jar"
     LC_ALL="en_US.utf-8"
     LANG="en_US.utf-8"
     NXF_TEMP="${params.outdir}../TMP/"
}
    }
    testing {	
        process {	
            cpus = 2	
            memory = 4.GB	
        }	
    }	
    
// Docker always true. Containers defined in each process
docker.enabled = true
