// Nextflow Configuration
profiles {	
    Standard {	
       process {	
            cpus = 4	
            memory = 8.GB	
            queueSize = 1
        }	
    }
    testing {	
        process {	
            cpus = 2	
            memory = 4.GB
            queueSize = 1	
        }	
    }
}   
// Docker always true. Containers defined in each process
docker.enabled = true
