/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 */

params {
	// Default
	max_memory = 32.GB
	max_cpus = 20
	max_time = 240.h
}

process{
	cpus = { check_max( 1, 'cpus' ) }
	memory = { check_max( 8.GB * task.attempt, 'memory' ) }
	errorStrategy = { task.exitStatus in [1,143,137,104,134,139,138] ? 'retry' : 'finish' }
	maxRetries = 3
}

env {
     _JAVA_OPTIONS = '-Xmx2G -Xms2G'
     TRIMMOMATIC_PATH = " /Users/Kurtisc/anaconda3/pkgs/trimmomatic-0.39-1/share/trimmomatic-0.39-1/"
     LC_ALL="en_US.utf-8"
     LANG="en_US.utf-8"
     NXF_TEMP="${params.outdir}../TMP/"
}
