/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default configuration options for all environments.
 */
profiles {

  Standard {
    includeConfig 'config/base.config'
  }
}

// Exit code capture if pipeline fails
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Default parameters
params {
  pipeline_version = '1.0'
  nextflow_version = '20.10.0'
  reads="$baseDir/fastq/*.fastq.gz"
  outdir='output_results'
  TRIMMOMATIC_PATH=/Users/Kurtisc/anaconda3/pkgs/trimmomatic-0.39-1/share/trimmomatic-0.39-1/trimmomatic.jar
}


}
